@model List<CursosModel>
@{
    ViewData["Title"] = "Cursos compartilhados para você";
}

<hearder class="container text-center">
    
    <div class="d-grid gap-3 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Cursos" asp-action="Criar">Adicionar novo curso</a>
    </div>


    <h1>Cursos compartilhados</h1>
    <!--ROW-->
    <div class="row row-gap ">

        @if(Model != null && Model.Any()) {
            foreach (CursosModel curso in Model) {

                <div class="col col-center">
                    <div class="card sombra" style="width: 18rem; text-align: center">
                        <div class="card-header bg-transparent">
                            <h5 class="card-title">@curso.Titulo</h5>
                        </div>
                        <div class="card-body scroll">
                            <h6 class="card-subtitle mb-2 text-muted">@curso.Site <br> Duração: @curso.Duracao</h6>
                            <p style="max-height: 4rem;">
                               @curso.Descricao
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@curso.Link" role="button" class="btn btn-success" target="_blank">Acessar</a>
                                <a role="button" class="btn btn-primary" asp-route-id="@curso.Id" asp-controller="Cursos" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger"  asp-route-id="@curso.Id" asp-controller="Cursos" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</hearder>